In [1]:
import pandas as pd
import re

In [2]:
data = {
    "Name": ["ABC", "DEF", "GHI", "JKL", "MNO", "PQR", "STU", "VWX", "YZA", "BCD"],
    "Enrollment No.": [101, 102, 103, 104, 105, 106, 107, 108, 109, 110],
    "Branch": ["CS", "EE", "ME", "CE", "CS", "EE", "ME", "CE", "CS", "EE"],
    "Semester": [3, 4, 3, 4, 3, 4, 3, 4, 3, 4],
    "Email": ["abc@outlook.com", "def.email", "ghi@outlook.com", "jkl@google.com", "mno.com", "pqr@gtu.com", "stu@google.com", "vwx@yahoo.com", "yza@google.com", "bcd@google.com"],
    "Phone": ["1234567890", "123456987", "2345678901", "3456789012", "4567890123", "58901234", "6789012345", "7890123456", "8901234567", "9012345678"]
}

In [3]:
df = pd.DataFrame(data)

In [4]:
df

  Name  Enrollment No. Branch  Semester            Email       Phone
0  ABC             101     CS         3  abc@outlook.com  1234567890
1  DEF             102     EE         4        def.email   123456987
2  GHI             103     ME         3  ghi@outlook.com  2345678901
3  JKL             104     CE         4   jkl@google.com  3456789012
4  MNO             105     CS         3          mno.com  4567890123
5  PQR             106     EE         4      pqr@gtu.com    58901234
6  STU             107     ME         3   stu@google.com  6789012345
7  VWX             108     CE         4    vwx@yahoo.com  7890123456
8  YZA             109     CS         3   yza@google.com  8901234567
9  BCD             110     EE         4   bcd@google.com  9012345678

In [5]:
def valid_email(email):
  mail_pattern = r'^[\w]+@[\w]+\.(?:in|com)$'
  return re.match(mail_pattern, email)

In [6]:
invalid_mail = []
for mail in df['Email']:
  if not valid_email(mail):
    record = df.loc[df['Email'] == mail]
    enr_no = record['Enrollment No.'].values[0]
    invalid_mail.append((enr_no, mail))

In [7]:
invalid_mail

[(102, 'def.email'), (105, 'mno.com')]

In [8]:
def valid_phone(phone):
  phone_pattern = r'^[1-9]\d{9}$'
  return re.match(phone_pattern,phone)

In [9]:
invalid_phone = []
for phone in df['Phone']:
  if not valid_phone(phone):
    record = df.loc[df['Phone'] == phone]
    enr_no = record['Enrollment No.'].values[0]
    invalid_phone.append((enr_no, phone))

In [10]:
invalid_phone

[(102, '123456987'), (106, '58901234')]