In [1]:
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
import pandas as pd

In [2]:
paragraph = ["In the stillness of the night, oh night so deep,",
             "Dreams take flight, in the night, we sleep.",
             "Underneath the silver moon, the moon so bright,",
             "Whispers croon, in the moonlight, all's right."]

In [3]:
# Bag Of Word Model
vectorizer = CountVectorizer()
bag_of_words_data = vectorizer.fit_transform(paragraph)

In [4]:
bow_df = pd.DataFrame(data=bag_of_words_data.toarray(),columns=vectorizer.get_feature_names_out())
bow_df

,all,bright,croon,deep,dreams,flight,in,moon,moonlight,night,...,right,silver,sleep,so,stillness,take,the,underneath,we,whispers
0,0,0,0,1,0,0,1,0,0,2,...,0,0,0,1,1,0,2,0,0,0
1,0,0,0,0,1,1,1,0,0,1,...,0,0,1,0,0,1,1,0,1,0
2,0,1,0,0,0,0,0,2,0,0,...,0,1,0,1,0,0,2,1,0,0
3,1,0,1,0,0,0,1,0,1,0,...,1,0,0,0,0,0,1,0,0,1

In [5]:
# TF-IDF Model
vectorizer = TfidfVectorizer()
tf_data = vectorizer.fit_transform(paragraph)

In [6]:
tf_df = pd.DataFrame(data=tf_data.toarray(),columns=vectorizer.get_feature_names_out())
tf_df

,all,bright,croon,deep,dreams,flight,in,moon,moonlight,night,...,right,silver,sleep,so,stillness,take,the,underneath,we,whispers
0,0.000000,0.00000,0.000000,0.340905,0.000000,0.000000,0.217595,0.00000,0.000000,0.537547,...,0.000000,0.00000,0.000000,0.268773,0.340905,0.000000,0.355797,0.00000,0.000000,0.000000
1,0.000000,0.00000,0.000000,0.000000,0.398368,0.398368,0.254273,0.00000,0.000000,0.314078,...,0.000000,0.00000,0.398368,0.000000,0.000000,0.398368,0.207885,0.00000,0.398368,0.000000
2,0.000000,0.33882,0.000000,0.000000,0.000000,0.000000,0.000000,0.67764,0.000000,0.000000,...,0.000000,0.33882,0.000000,0.267130,0.000000,0.000000,0.353621,0.33882,0.000000,0.000000
3,0.419601,0.00000,0.419601,0.000000,0.000000,0.000000,0.267826,0.00000,0.419601,0.000000,...,0.419601,0.00000,0.000000,0.000000,0.000000,0.000000,0.218965,0.00000,0.000000,0.419601